<p>So Lorem Ipsum is bad (not necessarily)
    There's lot of hate out there for a text that amounts to little more than garbled words in an old language. 
    The villagers are out there with a vengeance to get that Frankenstein, wielding torches and pitchforks, wanting
    to tar and feather it at the least, running it out of town in shame.    
    One of the villagers, Kristina Halvorson from Adaptive Path, holds steadfastly to the notion that design can’
    t be tested without real content:
    I’ve heard the argument that “lorem ipsum” is effective in wireframing or design because it helps people focus on 
    the actual layout, or color scheme, or whatever. What kills me here is that we’re talking about creating a user exp
    Luke Wroblewski, currently a Product Director at Google, holds that fake data can break down in real life:
    Using dummy content or fake information in the Web design process can result in products with unrealistic assumptions a
    nd potentially serious desi</p>

<p>So Lorem Ipsum is bad (not necessarily)
    There's lot of hate out there for a text that amounts to little more than garbled words in an old language. 
    The villagers are out there with a vengeance to get that Frankenstein, wielding torches and pitchforks, wanting
    to tar and feather it at the least, running it out of town in shame.    
    One of the villagers, Kristina Halvorson from Adaptive Path, holds steadfastly to the notion that design can’
    t be tested without real content:
    I’ve heard the argument that “lorem ipsum” is effective in wireframing or design because it helps people focus on 
    the actual layout, or color scheme, or whatever. What kills me here is that we’re talking about creating a user exp
    Luke Wroblewski, currently a Product Director at Google, holds that fake data can break down in real life:
    Using dummy content or fake information in the Web design process can result in products with unrealistic assumptions a
    nd potentially serious desi</p>
    
<p>So Lorem Ipsum is bad (not necessarily)
    There's lot of hate out there for a text that amounts to little more than garbled words in an old language. 
    The villagers are out there with a vengeance to get that Frankenstein, wielding torches and pitchforks, wanting
    to tar and feather it at the least, running it out of town in shame.    
    One of the villagers, Kristina Halvorson from Adaptive Path, holds steadfastly to the notion that design can’
    t be tested without real content:
    I’ve heard the argument that “lorem ipsum” is effective in wireframing or design because it helps people focus on 
    the actual layout, or color scheme, or whatever. What kills me here is that we’re talking about creating a user exp
    Luke Wroblewski, currently a Product Director at Google, holds that fake data can break down in real life:
    Using dummy content or fake information in the Web design process can result in products with unrealistic assumptions a
    nd potentially serious desi</p>

<p>So Lorem Ipsum is bad (not necessarily)
    There's lot of hate out there for a text that amounts to little more than garbled words in an old language. 
    The villagers are out there with a vengeance to get that Frankenstein, wielding torches and pitchforks, wanting
    to tar and feather it at the least, running it out of town in shame.    
    One of the villagers, Kristina Halvorson from Adaptive Path, holds steadfastly to the notion that design can’
    t be tested without real content:
    I’ve heard the argument that “lorem ipsum” is effective in wireframing or design because it helps people focus on 
    the actual layout, or color scheme, or whatever. What kills me here is that we’re talking about creating a user exp
    Luke Wroblewski, currently a Product Director at Google, holds that fake data can break down in real life:
    Using dummy content or fake information in the Web design process can result in products with unrealistic assumptions a
    nd potentially serious desi</p>